<section class="content-header">
    <h3>
        Manage Customer Locations
        <small>Control panel</small>
    </h3>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manage Customer Locations</li>
    </ol>
</section>

<section class="content">
    <mat-tab-group>
        <mat-tab label="Customer Location Details">

            <form [formGroup]="customerLocationForm" (ngSubmit)="saveOrEditLocationData(customerLocationForm.value)">
                <div class="col-md-6">

                    <div class="col-md-12 cardWidget">


                        <div class="widget-comp row">
                            <div class="col-md-6 cardWidget" [hidden]="true">
                                <mat-form-field>
                                    <input matInput id="id" name="id" [ngModel]="selectedLocation?.id" (ngModelChange)="setComboValuesForLocation()" formControlName="id" value="{{selectedLocation != null && selectedLocation.id != 0 ? selectedLocation.id:''}}" placeholder="Supplier Id">
                                </mat-form-field>
                            </div>
                            <div class="widget-header col-lg-12 col-md-12- col-sm-12 col-xs-12">
                                <div class="widget-header-button-comp pull-right">


                                    <div class="button-row">
                                        <button mat-icon-button type="submit" [disabled]=" !(selectedLocation != null && selectedLocation.id != 0) || !(customerLocationForm.valid ) ">
                            <mat-icon>edit</mat-icon>
                          </button>
                                        <button mat-icon-button type="button" (click)="printLocationDetails()">
                            <mat-icon>print</mat-icon>
                          </button>
                                        <button mat-icon-button type="button" (click)="addNewLocationlData()">
                            <mat-icon>add</mat-icon>
                          </button>
                                    </div>

                                </div>
                            </div>
                            <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">

                                <div class="row">

                                    <div class="col-md-6 cardWidget">

                                        <mat-form-field>
                                            <input matInput id="genaratedId" name="genaratedId" formControlName="genaratedId" placeholder="Location ID" readonly="true" type="text" [ngModel]="selectedLocation?.genaratedId" value="{{selectedLocation != null && selectedLocation.genaratedId != null ? selectedLocation.genaratedId:''}}">
                                        </mat-form-field>

                                        <mat-form-field>
                                            <mat-select [(value)]="selectedCustomerIdForLocation" placeholder="Customer" id="customerId" name="customerId" [ngModel]="selectedLocation?.customerId" formControlName="customerId">
                                                <mat-option *ngFor="let obj of this.allCustomerOptions" value={{obj.value}}>{{obj.label}}
                                                </mat-option>
                                            </mat-select>

                                        </mat-form-field>

                                        <mat-form-field>
                                            <input matInput id="location" name="location" formControlName="location" placeholder="Location Name" type="text" [ngModel]="selectedLocation.location" value="{{selectedLocation != null && selectedLocation.location != null ? selectedLocation.location:''}}">
                                        </mat-form-field>


                                    </div>

                                    <div class="col-md-6 cardWidget">

                                        <mat-form-field>
                                            <input matInput id="addressLine1" name="addressLine1" formControlName="addressLine1" placeholder="Address Line 1" type="text" [ngModel]="selectedLocation.addressLine1" value="{{selectedLocation != null && selectedLocation.addressLine1 != null ? selectedLocation.addressLine1:''}}">                                            </mat-form-field>

                                        <mat-form-field>
                                            <input matInput id="addressLine2" name="addressLine2" formControlName="addressLine2" placeholder="Address Line 2" type="text" [ngModel]="selectedLocation.addressLine2" value="{{selectedLocation != null && selectedLocation.addressLine2 != null ? selectedLocation.addressLine2:''}}">                                            </mat-form-field>


                                        <mat-form-field>
                                            <input matInput id="addressLine3" name="addressLine3" formControlName="addressLine3" placeholder="Address Line 3" type="text" [ngModel]="selectedLocation.addressLine3" value="{{selectedLocation != null && selectedLocation.addressLine3 != null ? selectedLocation.addressLine3:''}}">
                                        </mat-form-field>

                                        <mat-form-field>
                                            <input matInput id="addressLine4" name="addressLine4" formControlName="addressLine4" placeholder="Address Line 4" type="text" [ngModel]="selectedLocation.addressLine4" value="{{selectedLocation != null && selectedLocation.addressLine4 != null ? selectedLocation.addressLine4:''}}">
                                        </mat-form-field>
                                    </div>

                                </div>



                                <div class="button-footer">
                                    <div class="button-row">
                                        <button mat-raised-button color="warn" type="button" (click)="deleteLocationById(selectedLocation.id)" [disabled]="selectedLocation == null || selectedLocation.id == 0">Delete</button>

                                        <button mat-raised-button color="primary" type="submit" [disabled]="(!customerLocationForm.valid ) || (selectedLocation != null && selectedLocation.id != 0)">Save</button>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12 cardWidget">

                        <div class="widget-comp row">
                            <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">


                                <div class="box-header with-border">
                                    <h3 class="box-title">Customer Locations</h3>
                                </div>
                                <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                                    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
                                    <input #gb1 type="text" pInputText size="22" style="float:left" placeholder="Global Filter">
                                </div>
                                <p-dataTable [value]="allLocationData" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb1" selectionMode="single" [(selection)]="selectedLocation" (onRowUnselect)="addNewLocationlData()">
                                    <p-column field="genaratedId" header="Location ID" [sortable]="true"></p-column>
                                    <p-column field="customer.customerName" header="Customer Name" [sortable]="true"></p-column>
                                    <p-column field="location" header="Location Name" [sortable]="true"></p-column>

                                </p-dataTable>



                            </div>
                        </div>
                    </div>
                </div>

            </form>



        </mat-tab>



        <mat-tab label="Customer Contact Details">

            <form [formGroup]="customerContactForm" (ngSubmit)="saveOrEditContactData(customerContactForm.value)">
                <div class="col-md-6">

                    <div class="col-md-12 cardWidget">


                        <div class="widget-comp row">
                            <div class="col-md-6 cardWidget" [hidden]="true">
                                <mat-form-field>
                                    <input matInput id="id" name="id" [ngModel]="selectedContact?.id" (ngModelChange)="setComboValuesForContact()" formControlName="id" value="{{selectedContact != null && selectedContact.id != 0 ? selectedContact.id:''}}" placeholder="Supplier Id">
                                </mat-form-field>
                            </div>
                            <div class="widget-header col-lg-12 col-md-12- col-sm-12 col-xs-12">
                                <div class="widget-header-button-comp pull-right">


                                    <div class="button-row">
                                        <button mat-icon-button type="submit" [disabled]=" !(selectedContact != null && selectedContact.id != 0) || !(customerContactForm.valid ) ">
                            <mat-icon>edit</mat-icon>
                          </button>
                                        <button mat-icon-button type="button" (click)="printContactDetails()">
                            <mat-icon>print</mat-icon>
                          </button>
                                        <button mat-icon-button type="button" (click)="addNewContactlData()">
                            <mat-icon>add</mat-icon>
                          </button>
                                    </div>

                                </div>
                            </div>
                            <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">

                                <div class="row">




                                    <div class="col-md-6 cardWidget">

                                        <mat-form-field>
                                            <mat-select [(value)]="selectedCustomerIdForContact" placeholder="Customer" id="customerId" name="customerId" [ngModel]="selectedContact?.customerId" formControlName="customerId" (ngModelChange)="changeDataCustomer($event)">
                                                <mat-option *ngFor="let obj of this.allCustomerOptions" value={{obj.value}}>{{obj.label}}
                                                </mat-option>
                                            </mat-select>

                                        </mat-form-field>


                                        <mat-form-field>
                                            <mat-select [(value)]="selectedLocationIdForContact" placeholder="Location Name" id="locationId" name="locationId" [ngModel]="selectedContact?.locationId" formControlName="locationId">
                                                <mat-option *ngFor="let obj of this.allLocationOptions" value={{obj.value}}>{{obj.label}}
                                                </mat-option>
                                            </mat-select>

                                        </mat-form-field>


                                        <mat-form-field>
                                            <input matInput id="personName" name="personName" formControlName="personName" placeholder="Contact Person" type="text" [ngModel]="selectedContact?.personName" value="{{selectedContact != null && selectedContact.personName != null ? selectedContact.personName:''}}">
                                        </mat-form-field>

                                        <mat-form-field>
                                            <input matInput id="post" name="post" formControlName="post" placeholder="Contact Person Designation" type="text" [ngModel]="selectedContact?.post" value="{{selectedContact != null && selectedContact.post != null ? selectedContact.post:''}}">
                                        </mat-form-field>


                                    </div>





                                    <div class="col-md-6 cardWidget">


                                        <mat-form-field>
                                            <input matInput id="contact" name="contact" formControlName="contact" placeholder="Phone Number" type="text" [ngModel]="selectedContact?.contact" value="{{selectedContact != null && selectedContact.contact != null ? selectedContact.contact:''}}">
                                        </mat-form-field>

                                        <mat-form-field>
                                            <input matInput id="email" name="email" formControlName="email" placeholder="Email" type="text" [ngModel]="selectedContact?.email" value="{{selectedContact != null && selectedContact.email != null ? selectedContact.email:''}}">
                                        </mat-form-field>


                                        <mat-form-field>
                                            <input matInput id="fax" name="fax" formControlName="fax" placeholder="Fax" type="text" [ngModel]="selectedContact?.fax" value="{{selectedContact != null && selectedContact.fax != null ? selectedContact.fax:''}}">
                                        </mat-form-field>

                                    </div>

                                </div>



                                <div class="button-footer">
                                    <div class="button-row">
                                        <button mat-raised-button color="warn" type="button" (click)="deleteAccountById(selectedContact.id)" [disabled]="selectedContact == null || selectedContact.id == 0">Delete</button>

                                        <button mat-raised-button color="primary" type="submit" [disabled]="(!customerContactForm.valid ) || (selectedContact != null && selectedContact.id != 0)">Save</button>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12 cardWidget">

                        <div class="widget-comp row">
                            <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">

                                <div class="box-header with-border">
                                    <h3 class="box-title">Contact Persons</h3>
                                </div>
                                <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                                    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
                                    <input #gb2 type="text" pInputText size="22" style="float:left" placeholder="Global Filter">
                                </div>
                                <p-dataTable [value]="allContactData" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb2" selectionMode="single" [(selection)]="selectedContact" (onRowUnselect)="addNewContactlData()">
                                    <p-column field="customer.customerName" header="Customer Name" [sortable]="true"></p-column>
                                    <p-column field="customerLocation.location" header="Location Name" [sortable]="true"></p-column>
                                    <p-column field="personName" header="Person Name" [sortable]="true"></p-column>
                                    <p-column field="post" header="Designation" [sortable]="true"></p-column>
                                    <p-column field="contact" header="Tel No" [sortable]="true"></p-column>
                                </p-dataTable>

                            </div>
                        </div>
                    </div>
                </div>

            </form>



        </mat-tab>





    </mat-tab-group>
</section>