<section class="content-header">
    <h3>
        Manage Tax Type
        <small>Control panel</small>
    </h3>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manage Tax Type</li>
    </ol>
</section>


<section class="content">
    <form [formGroup]="myForm" (ngSubmit)="saveOrEdit(myForm.value)">



        <div class="col-md-6">

            <div class="col-md-12 cardWidget">


                <div class="widget-comp row">
                    <div class="col-md-6 cardWidget" [hidden]="true">
                        <mat-form-field>
                            <input matInput id="id" name="id" [ngModel]="selected?.id" formControlName="id" value="{{selected != null && selected.id != 0 ? selected.id:''}}" placeholder="Area Id">
                        </mat-form-field>
                    </div>
                    <div class="widget-header col-lg-12 col-md-12- col-sm-12 col-xs-12">
                        <div class="widget-header-button-comp pull-right">
                            <div class="button-row">
                                <button mat-icon-button type="submit" [disabled]=" !(selected != null && selected.id != 0) || !(myForm.valid ) ">
    <mat-icon>edit</mat-icon>
  </button>
                                <button mat-icon-button type="button" (click)="convert()">
    <mat-icon>print</mat-icon>
  </button>

                                <button mat-icon-button type="button" (click)="addNew()">
    <mat-icon>add</mat-icon>
  </button>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">

                        <div class="col-md-6 cardWidget">
                            <mat-form-field>
                                <input matInput id="genaratedId" name="genaratedId" [ngModel]="selected?.genaratedId" readonly="true" formControlName="genaratedId" value="{{selected != null && selected.genaratedId != 0 ? selected.genaratedId:''}}" placeholder="Reason Category Id">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 cardWidget">
                            <mat-form-field>
                                <input matInput id="reasonCatagory" name="reasonCatagory" [ngModel]="selected?.reasonCatagory" formControlName="reasonCatagory" value="{{selected != null && selected.taxType != 0 ? selected.taxType:''}}" placeholder="Reason Catagory">
                            </mat-form-field>
                        </div>
                        <div class="button-footer">
                            <div class="button-row">
                                <button mat-raised-button color="warn" type="button" (click)="deleteById(selected.id)" [disabled]="selected == null || selected.id == 0">Delete</button>

                                <button mat-raised-button color="primary" type="submit" [disabled]="(!myForm.valid ) || (selected != null && selected.id != 0)">Save</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-12 cardWidget">

                <div class="widget-comp row">
                    <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">


                        <div class="box-header with-border">
                            <h4 class="box-title">Tax Type</h4>
                        </div>
                        <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText size="22" style="float:left" placeholder="Global Filter">
                        </div>
                        <p-dataTable [value]="allData" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" selectionMode="single" [(selection)]="selected" (onRowUnselect)="addNew()">
                            <p-column field="genaratedId" header="Reason Category ID" [sortable]="true"></p-column>
                            <p-column field="reasonCatagory" header="Reason Category" [sortable]="true"></p-column>
                        </p-dataTable>

                    </div>
                </div>
            </div>
        </div>

    </form>


</section>