<section class="content-header">
    <h3>
        Manage Receipts
        <small>Control panel</small>
    </h3>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manage Receipts</li>
    </ol>
</section>


<section class="content">
    <form [formGroup]="myForm" (ngSubmit)="saveOrEdit(myForm.value)">



        <div class="col-md-6">

            <div class="col-md-12 cardWidget">


                <div class="widget-comp row">
                    <div class="col-md-6 cardWidget" [hidden]="true">
                        <mat-form-field>
                            <input matInput id="id" name="id" [ngModel]="selected?.id" formControlName="id" value="{{selected != null && selected.id != 0 ? selected.id:''}}" placeholder="Area Id">
                        </mat-form-field>
                    </div>
                    <div class="widget-header col-lg-12 col-md-12- col-sm-12 col-xs-12">
                        <div class="widget-header-button-comp pull-right">
                            <div class="button-row">
                                <button mat-icon-button type="submit" [disabled]="true">
      <mat-icon>edit</mat-icon>
    </button>
                                <button mat-icon-button type="button" (click)="printReceptDetails()">
      <mat-icon>print</mat-icon>
    </button>

                                <button mat-icon-button type="button" (click)="addNew()">
      <mat-icon>add</mat-icon>
    </button>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">

                        <div class="col-md-6 cardWidget">
                            <mat-form-field>
                                <input matInput id="genaratedId" name="genaratedId" [ngModel]="selected?.genaratedId" readonly="true" formControlName="genaratedId" value="{{selected != null && selected.genaratedId != 0 ? selected.genaratedId:''}}" placeholder="Receipt Id">
                            </mat-form-field>


                            <mat-form-field>
                                <mat-select placeholder="Customer" (ngModelChange)="getOldOverPaymentAmmount($event)" id="customeId" name="customeId" [ngModel]="selected?.customeId" formControlName="customeId">
                                    <mat-option *ngFor="let obj of this.allCustomerOptions" value={{obj.value}}>{{obj.label}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>


                            <mat-form-field>
                                <mat-select placeholder="Bank" id="bankId" name="bankId" [ngModel]="selected?.bankId" formControlName="bankId" (ngModelChange)="changeDataBank($event)">
                                    <mat-option *ngFor="let obj of this.allbankOptions" value={{obj.value}}>{{obj.label}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>


                            <mat-form-field>
                                <input matInput id="branch" formControlName="branch" name="branch" placeholder="Branch" type="text" [ngModel]="selected?.branch" value="{{selected != null && selected.branch != null ? selected.branch:''}}">
                            </mat-form-field>


                            <mat-form-field>
                                <mat-select placeholder="Account No" id="customerAccountId" name="customerAccountId" [ngModel]="selected?.customerAccountId" formControlName="customerAccountId">
                                    <mat-option *ngFor="let obj of this.allCustomerAccoiuntOptions" value={{obj.value}}>{{obj.label}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <mat-form-field>
                                <input matInput id="chequeNo" formControlName="chequeNo" name="chequeNo" placeholder="Cheque No" type="text" [ngModel]="selected?.chequeNo" value="{{selected != null && selected.chequeNo != null ? selected.chequeNo:''}}">
                            </mat-form-field>


                            <mat-form-field>
                                <input matInput id="total" formControlName="total" name="total" placeholder="Pay Ammount" type="text" [ngModel]="selected?.total" (ngModelChange)="changePayAmmount($event)" value="{{selected != null && selected.total != null ? selected.total:''}}">
                            </mat-form-field>
                        </div>


                        <div class="col-md-6 cardWidget">

                            <mat-form-field>
                                <input matInput [matDatepicker]="picker2" id="date" readonly="true" name="date" [ngModel]="selected?.date" formControlName="date" value="{{selected != null && selected.area != 0 ? selected.date:''}}" placeholder="Date">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>




                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Dated date" id="datedDate" name="datedDate" formControlName="datedDate" [ngModel]="selected?.datedDate" value="{{selected != null && selected.datedDate != null ? selected.datedDate:''}}">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>


                            <mat-radio-group placeholder="Customer" [(ngModel)]="selected.paymentTerm" formControlName="paymentTerm">

                                <mat-radio-button value="yes">Cash</mat-radio-button>
                                <mat-radio-button value="no">Credit</mat-radio-button>
                            </mat-radio-group>

                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" placeholder="Deposite Date" id="depositeDate" name="depositeDate" formControlName="depositeDate" [ngModel]="selected?.depositeDate" value="{{selected != null && selected.depositeDate != null ? selected.depositeDate:''}}">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>


                            <mat-form-field>
                                <input matInput id="ammount" formControlName="ammount" name="ammount" placeholder="Receipt Ammount" (ngModelChange)="changeReceptAmmount($event)" type="text" [ngModel]="selected?.ammount" value="{{selected != null && selected.ammount != null ? selected.ammount:''}}">
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput id="manualReceiptNo" formControlName="manualReceiptNo" name="manualReceiptNo" placeholder="Manual ReceiptNo" type="text" [ngModel]="selected?.manualReceiptNo" value="{{selected != null && selected.manualReceiptNo != null ? selected.manualReceiptNo:''}}">
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput readonly="true" id="overPayment" formControlName="overPayment" name="overPayment" placeholder="Over Payment" type="text" [ngModel]="selected?.overPayment" value="{{selected != null && selected.overPayment != null ? selected.overPayment:''}}">
                            </mat-form-field>



                            <mat-radio-group [hidden]="hide" placeholder="Customer" name="useOverPayment" value="yes" label="Yes" [(ngModel)]="useOverPayment" (ngModelChange)="changeUseOverPayment($event)" formControlName="useOverPayment">
                                Use Over Payment<br>
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>


                        </div>
                        <div class="button-footer">
                            <div class="button-row">

                                <button mat-raised-button color="primary" type="submit" [disabled]="(!myForm.valid ) || (selected != null && selected.id != 0)">Save</button>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-12 cardWidget">

                <div class="widget-comp row">
                    <div class="widget-content col-lg-12 col-md-12- col-sm-12 col-xs-12">


                        <div class="box-header with-border">
                        </div>
                        <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText size="22" style="float:left" placeholder="Global Filter">
                        </div>
                        <p-dataTable [value]="allData" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" selectionMode="single" [(selection)]="selected" (onRowUnselect)="addNew()">
                            <p-column field="genaratedId" header="Receipt ID" [sortable]="true"></p-column>
                            <p-column field="customer.customerName" header="Customer Name" [sortable]="true"></p-column>
                            <p-column field="ammount" header="Ammmount" [sortable]="true"></p-column>
                            <p-column field="total" header="Total" [sortable]="true"></p-column>
                            <p-column field="overPayment" header="overPayment" [sortable]="true"></p-column>
                        </p-dataTable>



                    </div>
                </div>
            </div>
        </div>

    </form>


</section>